@import 'variables.less';

.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.container {
    max-width: 1150px;
    margin: auto;
    padding: 0 15px;
}
.header-right__toggler {
    .btn-toggle {
        background-color: transparent;
        border: none;
    }
}

button.btn-toggle {
    
        background-color: red;
        border: none;
}
h2 {
    font-size: 56px;
    font-weight: bold;
    color: #000;
}