@import 'variables.less';

.container {
    max-width: 1150px;
    margin: auto;
}

.header {
    padding: 55px 0;
}

.header-wrapper {
    width: 100%;
    padding: 0 15px;
}

.header-right-span {
    margin-right: 40px;
}

.header-right-toggler {
    .btn-toggle {
        background-color: transparent;
        border: none;
    }
}

h2 {
    font-size: 56px;
    font-weight: bold;
    color: #000;
}

p {
    font-family: 'aprecu_pro', sans-serif;
}

ul {
    font-family: 'aprecu_pro', sans-serif;
    padding-inline-start: 0px;
}

.section {
    margin: 140px 0;
}

.section-title-left {
    max-width: 865px;
    letter-spacing: 0.015em;
}

.section-title-center {
    text-align: center;
    max-width: 860px;
    margin: auto;
    padding-bottom: 30px;
}

.section-button-center {
    text-align: center;
}

.wrapper-col-6 {
    position: relative;
}

.col-illustration {
    position: absolute;
    transform: translate(125%,-20%);
}

.section-content-text {
    font-size: 22px;
    max-width: 400px;
    padding-top: 20px;
    line-height: 27px;
}

.section-content-list {
    font-size: 22px;
    line-height: 27px;
    padding: 0;
    padding-top: 15px;
}

.container-fluid {
    width: 100%;
    max-width: 1440px;
    background-color: #EFF6FF;
    padding: 200px 0 195px 0;
    clip-path: polygon(100% 16%, 100% 100%, 0 100%, 0 0);
}

.col-content {
    text-align: left;
    h2 {
        max-width: 420px;
    }
    p {
        font-size: 22px;
        line-height: 27px;
        max-width: 444px;
        letter-spacing: 0.015em;

    }
    p:first-of-type {
        padding-bottom: 30px;
        padding-top: 10px;
    }
}

.col-image {
    position: relative;
}

.col-image-illustration {
    position: absolute;
    bottom: -34%;
    left: 50%;
    transform: translate(20%,-50%);
}

.btn {
    border-radius: 0;
    border: 1px solid @primary-color;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 18px 60px;
}

.btn-primary {
    background-color: @primary-color;
    &:hover {
        background-color: @secondary-color;
        color: @primary-color;
        border: 1px solid @primary-color;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
    }
    &:focus {
        color: #fff;
        background-color: @primary-color;
        box-shadow: none;
        outline: none;
    }
    &:active {
        outline: none;
    }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: @primary-color;
    background-color: #fff;
    border-color: @primary-color;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.contact-col-text {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
    max-width: 395px;
    padding: 20px 0 25px 0;
}

.contact-info {
    font-size: 22px;
    line-height: 40px;
    padding: 0;
    img {
    padding-right: 18px;
    }
}

.contact > .menu-socials {
    display: inline-block;
    padding-left: 40px;
    padding-top: 30px;
}

.col-map-image {
    transform: translate(10%,-10%);
}

.footer {
    padding: 40px 0;
}

.footer-nav a {
    margin-left: 20px;
    padding: 5px;
}

.menu-socials-icon li {
    padding: 5px 10px;
}

@media all and (max-width: 575.98px) {

    .header {
        padding: 15px;
    }
    .header-right-span {
        display: none;
    }
    .section {
        margin: 40px 0;
    }
    h2 {
        font-size: 22px;
        text-align: center;
        line-height: 1;
    }
    .section-content-text, .section-content-list {
        font-size: 14px;
        line-height: 22px;
    }
    .wrapper-col-6 > .col-12 {
        padding-top: 40px;
    }
    .col-illustration {
        transform: translate(110%,-10%);
    }
    .container-fluid {
        clip-path: polygon(100% 0%,100% 100%,0 100%,0 0);
        padding: 20px 0;
        > .row {
            flex-direction: column-reverse;
        }
        .col-content {
            padding: 10px 10px;
            p {
                font-size: 14px;
                line-height: 22px;
                padding-bottom: 10px;
            }
        }
    }
    .col-image-illustration {
        display: none;
    }
    .btn {
        padding: 12px 40px;
    }
    .wrapper-col-6 {
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contact-col-text {
        font-size: 16px;
    }
    .contact-info {
        font-size: 14px;
        line-height: 30px;
        padding-left: 0;
    }
    .col-map-image {
        transform: none;
    }
    .footer {
        padding: 15px 0;
        margin-bottom: 20px;
        .menu-socials {
            display: none;
        }
        .footer-wrapper {
            flex-direction: column;
            margin-bottom: 40px;
        }
    }
    .footer-nav {
        display: none;
    }
}

@media all and (max-width: 767.98px) {
    h2 {
        font-size: 32px;
        text-align: center;
    }
    .section-content {
        margin-left: 0px;
    }
    .col-illustration {
        transform: translate(105%,0%);
        z-index: 99;
    }
    .header {
        padding: 30px 0px;
    }
    .row {
        margin: 0;
        flex-direction: column-reverse;
    }
    .section {
        margin: 40px 0;
    }
    .container-fluid {
        padding: 80px 0 40px;
        clip-path: polygon(100% 3%,100% 100%,0 100%,0 0);
    }
}

@media all and (max-width: 991.98px) {
    .header {
        padding: 35px 0;
    }
    .col-map-image {
        transform: translate(0%,-10%);
        img {
            width: 50%;
        }
    }
    .footer-nav a {
        margin-left: 10px;
        padding: 5px;
    }
}
@media all and (max-width: 1199.98px) {
    .header {
        padding: 40px 0;
    }
    .section {
        margin: 80px 0;
    }
    .container-fluid {
        padding: 130px 0 130px;
        clip-path: polygon(100% 5%,100% 100%,0 100%,0 0);
    }
    .col-illustration {
        position: absolute;
        transform: translate(114%,-30%);
        img {
            width: 90%;
        }
    }
    .col-image-illustration {
        position: absolute;
        bottom: -34%;
        left: 50%;
        transform: translate(25%,-50%);
        img {
            width: 80%;
        }
    }
}